<div style="padding-left: 100px; padding-top: 10px">

  <h1>How to work with Angular InMemoryDbService</h1>
  <br>
  <br>

  <h3>Users</h3>
  <button type="button" class="btn btn-primary" (click)="addUser()">Add user</button>

  <br>

  <br>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let u of users" style="width: 250px">
      {{u.id}}:{{u.name}}
    </li>
  </ul>

  <br><br>

  <h3>Sections</h3>
  <button type="button" class="btn btn-primary" (click)="addSection()">Add section</button>
  <br>
  <br>
  <li class="list-group-item" *ngFor="let s of sections" style="width: 250px">
    {{s.id}}:{{s.user}}:{{s.title}}
  </li>

  <br><br>

  <h3>Notes</h3>
  <button type="button" class="btn btn-primary" (click)="addNote()">Add note</button>&nbsp;&nbsp;
  <button type="button" class="btn btn-primary" (click)="updateNote()">Update note</button>
  <br>
  <br>
  <li class="list-group-item" *ngFor="let n of notes" style="width: 350px">
    {{n.id}}:{{n.section}}:{{n.text}}&nbsp;&nbsp;
    <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteNote(n.id)">Delete</button>
  </li>

  <br><br>
</div>
